@mixin sidebar-theme ($theme) {
    $background-colour: map-get($theme, background-colour);
    $background-colour-dark: map-get($theme, background-colour-dark);
    $primary-colour: map-get($theme, primary-colour);
    $accent-colour: map-get($theme, accent-colour);
    $text-colour-dark: map-get($theme, text-colour-dark);
    $divider-colour: map-get($theme, divider-colour);
    $primary-colour-dark: map-get($theme, primary-colour-dark);
    .sidebar {
        background-color: $background-colour;
        color: $text-colour-dark;
        border-right: 0.5px solid $divider-colour;
        nav {
            a {
                &.active {
                    background-color: $background-colour-dark;
                }
            }
        }
    }
}