@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
@mixin sidebar-theme ($theme) {
  $background-colour: map-get($theme, background-colour);
  $primary-colour: map-get($theme, primary-colour);
  $accent-colour: map-get($theme, accent-colour);
  $text-colour-dark: map-get($theme, text-colour-dark);
  $divider-colour: map-get($theme, divider-colour);
  $primary-colour-dark: map-get($theme, primary-colour-dark);
  .sidebar {
    background-color: $background-colour;
    color: $text-colour-dark;
    border-right: 0.5px solid $divider-colour;
    nav {
      .active {
        background-color: $primary-colour-dark;
        color: $text-colour-dark;
        font-weight: bold;
      }
    }
  }
}

.sidebar {
  transition: $theme-change-transistion;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  height: calc(100% - #{$topbar-height});
  top: $topbar-height;
  left: 0;
  position: fixed;
  z-index: 4;
  overflow-y: auto;
  overflow-x: none;
  nav {
    height: 80%;
    margin: 8px 16px 8px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    a {
      margin: 8px 0;
      text-align: left;
      border-radius: 0 2px 2px 0;
    }
  }
  input {
    margin: 8px 0 8px 16px;
    font-size: 14px;
    border-radius: 2px;
    height: 20px;
    width: 160px;
  }
}

.active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.12) inset;
  transform: translate3d(0, 0, 0);
  transition: background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}
