@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
.sidebar {
  transition: $theme-change-transistion;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  height: calc(100% - #{$topbar-height});
  top: $topbar-height;
  left: 0;
  position: fixed;
  z-index: 4;
  overflow-y: auto;
  overflow-x: none;
  nav {
    height: 80%;
    margin: 8px 16px 8px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    a {
      margin: 8px 0;
      text-align: left;
      border-radius: 0 2px 2px 0;
    }
  }
}