@import 'src/styles/mixins';
.replay-form-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    & .input-container {
        display: inline-block;
    }
    & input {
        min-width: 360px;
        width: 100%;
    }
    & button {
        margin-top: 16px;
    }
}