@mixin dashboardTable-theme($theme) {
    $divider-colour: map-get($theme, divider-colour);
    $text-colour-secondary: map-get($theme, text-colour-secondary);
    $background-colour-dark: map-get($theme, background-colour-dark);
    $background-colour-darker: map-get($theme, background-colour-darker);
    $text-colour-secondary: map-get($theme, text-colour-secondary);
    .dashboardTable {
        thead {
            color: $text-colour-secondary;
        }
        tbody {
            tr {
                border-bottom-color: $divider-colour;
            }
            tr:not(.accordionTableRow) {
                &:not(.contextMenu):hover {
                    background-color: $background-colour-dark;
                }
                td.filter-td {
                    div>b {
                        color: $text-colour-secondary;
                    }
                    div:hover {
                        background-color: $background-colour-darker;
                    }
                }
                td:not(.dashboardTable-checkbox-td):not(.filter-td):hover {
                    background-color: $background-colour-darker;
                }
            }
        }
    }
}