@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';
.topbar-header {
  width: 200px;
  text-align: center;
  margin: auto 0;
}

.topbar-wrapper {
  transition: $theme-change-transistion;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  margin: 0;
  min-height: $topbar-height;
  height: $topbar-height;
  z-index: 2;
}