@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';
@mixin topbar-theme ($theme) {
  $primary-colour: map-get($theme, primary-colour);
  $text-colour-dark: map-get($theme, text-colour-dark);
  $text-colour-light: map-get($theme, text-colour-light);
  .topbar-wrapper {
    background-color: $primary-colour;
    color: $text-colour-dark;
  }

  .topbar-header {
    color: $text-colour-light;
  }
}
.topbar-header {
  width: $sidebar-width;
  text-align: center;
  margin: auto 0;
}

.topbar-wrapper {
  transition: $theme-change-transistion;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  margin: 0;
  min-height: $topbar-height;
  height: $topbar-height;
  z-index: 2;
}
