@mixin contextMenu-theme($theme) {
    $divider-colour: map-get($theme, divider-colour);
    $text-colour-dark: map-get($theme, text-colour-dark);
    $background-colour: map-get($theme, background-colour);
    $background-colour-dark: map-get($theme, background-colour-dark);
    tbody>tr.contextMenu {
        border-color: $divider-colour;
        color: $text-colour-dark;
    }
    .contextMenu:first-child {
        background-color: $background-colour;
        border-color: $divider-colour;
        td:not(:last-child) {
            border-color: $divider-colour;
        }
    }
}