@import 'styles/variables.scss';
tr.accordionTableRow {
  width: 100%;
  &.hidden {
    transition: max-height 400ms $mat-anim-curve, border-bottom-color 1ms linear 400ms;
    border-bottom: solid 1px transparent !important;
    max-height: 0;
    td.accordionTd {
      transition: padding-bottom 400ms $mat-anim-curve, padding-top 400ms $mat-anim-curve;
      padding-top: 0;
      padding-bottom: 0;
      div.react-json-view {
        transition: max-height 400ms $mat-anim-curve;
        max-height: 0;
        white-space: pre;
      }
    }
  }
  &.visible {
    max-height: 400px;
    td.accordionTd {
      overflow-y: auto;
      div.react-json-view {
        transition: max-height 400ms $mat-anim-curve;
        max-height: 400px;
        max-width: 1656px;
        white-space: pre;
      }
    }
  }
  & td.accordionTd>div {
    max-width: 1688px;
  }
}