@import 'src/assets/styles/mixins.scss';
@import 'src/assets/styles/variables.scss';
@mixin topbar-theme ($theme) {
  $primary-colour: map-get($theme, primary-colour);
  $primary-text-colour: map-get($theme, primary-text-colour);
  .topbar-wrapper {
    background-color: $primary-colour;
    color: $primary-text-colour;
  }

  .topbar-header {
    color: $primary-text-colour;
  }
}
.topbar-header {
  width: $sidebar-width;
  text-align: center;
  margin: auto 0;
}

.topbar-wrapper {
  transition: $theme-change-transistion;
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  margin: 0;
  min-height: $topbar-height;
  height: $topbar-height;
  z-index: 2;
}
