@import 'styles/variables.scss';
.dashboardTable-searchForm-container {
    width: 100%;
    margin: 0 auto;
    form {
        transition: $minimize-transition;
        white-space: nowrap;
        width: 90%;
        margin: 0 auto;
    }
    .dashboardTable-searchForm-dataPicker-separator {
        transition: $minimize-transition;
        margin: 0 8px;
    }
    .dashboardTable-searchForm-eventNameInput {
        min-width: 17%;
        font-family: 'Roboto', 'Noto Sans', sans-serif;
        &.loading {
            background: url('../../../assets/images/input-loading.gif') no-repeat center center;
        }
    }
    .dashboardTable-searchForm-dataPicker {
        font-family: 'Roboto', 'Noto Sans', sans-serif;
    }
    .dashboardTable-searchForm-searchInput {
        max-height: 300px;
        width: 90%;
        min-width: 60%;
        min-height: 22px;
        line-height: 21px;
        vertical-align: bottom;
        resize: none;
        &.subscribers-height {
            height: 22px;
        }
        &.events-height {
            height: 255px;
        }
    }
    .dashboardTable-searchForm-limitInput {
        min-width: 7%;
        font-family: 'Roboto', 'Noto Sans', sans-serif;
    }
    .dashboardTable-requiredKey {
        padding-left: 8px;
        padding-top: 16px;
        display: block;
    }
}

.dashboardTable-searchForm-container-minimized {
    form {
        pointer-events: none;
        height: 0;
        opacity: 0;
    }
}