@mixin sidebar-theme ($theme) {
    $background-colour: map-get($theme, background-colour);
    $background-colour-dark: map-get($theme, background-colour-dark);
    $text-colour-dark: map-get($theme, text-colour-dark);
    $divider-colour: map-get($theme, divider-colour);
    .sidebar {
        background-color: $background-colour;
        color: $text-colour-dark;
        border-right: 0.5px solid $divider-colour;
        nav {
            a {
                &.active {
                    background-color: $background-colour-dark;
                }
            }
            div {
                color: $divider-colour;
            }
            div:not(:first-child) {
                border-top-color: $divider-colour;
            }
        }
    }
}