@import 'src/styles/variables.scss';
@import 'src/styles/mixins.scss';
.sidebar {
  transition: $theme-change-transition, width 400ms $mat-anim-curve;
  width: $sidebar-width;
  height: calc(100% - #{$topbar-height});
  top: $topbar-height;
  left: 0;
  position: fixed;
  z-index: 4;
  overflow-y: auto;
  overflow-x: hidden;
  &.hidden {
    width: 0;
  }
  &.visible {
    width: $sidebar-width;
  }
  nav {
    height: 80%;
    margin: 8px 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: relative;
    a,
    div {
      width: 100%;
      text-align: left;
      border-radius: 0 2px 2px 0;
    }
    div {
      padding: 16px 0 16px 16px;
    }
    div:not(:first-child) {
      border-top: solid 1px;
    }
  }
}