@mixin app-theme($theme) {
    $text-colour-dark: map-get($theme, text-colour-dark);
    $text-colour-secondary: map-get($theme, text-colour-secondary);
    $background-colour: map-get($theme, background-colour);
    $background-colour-dark: map-get($theme, background-colour-dark);
    $background-colour-light: map-get($theme, background-colour-light);
    $accent-colour: map-get($theme, accent-colour);
    $divider-colour: map-get($theme, divider-colour);
    .main-body {
        background: $background-colour;
        color: $text-colour-dark;
    }
    .button {
        color: $text-colour-dark;
        background-color: $background-colour;
        &:hover,
        &:focus,
        &:focus>[class*="fa-"],
        &:hover>[class*="fa-"] {
            color: $accent-colour;
        }
        &.active {
            background-color: $background-colour-dark;
        }
        &.minimize-button {
            background-color: transparent;
            span {
                border-bottom-color: $divider-colour;
            }
            &>[class*="fa-"] {
                background-color: transparent;
            }
        }
    }
    .button-group {
        .button {
            background-color: $background-colour-light;
            .button-bordered {
                border-color: $divider-colour;
                background-color: $background-colour;
                color: $text-colour-dark;
            }
        }
        .button:not(:last-child) {
            border-right: 1px solid $divider-colour;
        }
    }
    .disabled {
        color: $divider-colour !important;
        background-color: $background-colour-dark !important;
    }
    .input {
        border-bottom-color: $text-colour-secondary;
        background-color: $background-colour;
    }
}