@import 'src/styles/elevation-mixin';
@import 'src/styles/mixins';
@import 'src/styles/variables';
.main-body {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 14px;
}

.input-container-group {
  transition: $minimize-transition;
  margin-top: 32px;
}

.input-container {
  transition: $minimize-transition;
  display: inline;
  margin-right: 16px;
  & label {
    transition: $minimize-transition;
    position: absolute;
    margin-top: -16px;
  }
  .input {
    transition: $minimize-transition;
    font-size: 18px;
    padding: 8px 4px;
    border: none;
    border-bottom: 1px solid;
  }
}

.button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  line-height: 32px;
  padding: 0 16px;
  border-radius: 2px;
  font-size: 16px;
  background-position: center;
  transition: background-color $mat-anim-curve 200ms;
  &.minimize-button {
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    outline: 0;
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
      width: 100%;
      border-bottom: 1px solid;
    }
  }
  &.active {
    font-weight: 700;
  }
  &.button-bordered {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    border: solid 1px;
    border-radius: 4px;
  }
  &>.button-icon {
    transition: $minimize-transition;
    padding: 4px;
    margin-bottom: -8px;
    min-width: 38px;
    height: 38px;
    border-radius: 4px;
    box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
  }
  &.button-text {
    padding: 2px 8px;
    font-weight: bold;
  }
}

.button-group {
  display: table;
  border-radius: 2px;
  .button {
    cursor: pointer;
    float: left;
    border-radius: 0;
  }
  .button:first-child {
    border-radius: 2px 0 0 2px;
  }
  .button:last-child {
    border-radius: 0 2px 2px 0;
  }
}

input[type='checkbox'] {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}

.display-none {
  display: none !important;
}

.success {
  color: green;
  border-color: green;
  &>input {
    color: green;
    border-color: green;
  }
}

.error {
  color: red;
  border-color: red;
  &>input {
    color: red;
    border-color: red;
  }
}