@import 'src/styles/elevation-mixin';
@import 'src/styles/mixins';
@import 'src/styles/variables';
.main-body {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Noto Sans', sans-serif;
  font-size: 14px;
}

.button {
  box-sizing: border-box;
  position: relative;
  cursor: pointer;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 2px;
  font-size: 16px;
  background-position: center;
  transition: background-color $mat-anim-curve 200ms;
  &.minimize-button {
    margin-top: 8px;
    padding: 8px;
    width: 100%;
    outline: 0;
    display: flex;
    align-items: center;
    span {
      margin-left: 8px;
      width: 100%;
      border-bottom: 1px solid;
    }
  }
  &.active {
    font-weight: 700;
  }
}

.button-group {
  display: table;
  border-radius: 2px;
  .button {
    cursor: pointer;
    float: left;
    border-radius: 0;
  }
  .button:first-child {
    border-radius: 2px 0 0 2px;
  }
  .button:last-child {
    border-radius: 0 2px 2px 0;
  }
}

input[type='checkbox'] {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed !important;
}

.display-none {
  display: none !important;
}