@mixin tableView-theme($theme) {
    $divider-colour: map-get($theme, divider-colour);
    $text-colour-secondary: map-get($theme, text-colour-secondary);
    $background-colour-dark: map-get($theme, background-colour-dark);
    $background-colour-darker: map-get($theme, background-colour-darker);
    .dashboardTable {
        thead {
            color: $text-colour-secondary;
        }
        tbody {
            tr {
                border-bottom-color: $divider-colour;
                &:hover {
                    background-color: $background-colour-dark;
                }
                td:not(.dashboardTable-checkbox-td):hover {
                    background-color: $background-colour-darker;
                }
            }
        }
    }
}