@mixin tableView-theme($theme) {
    $divider-colour: map-get($theme, divider-colour);
    $text-colour-secondary: map-get($theme, text-colour-secondary);
    $background-colour-dark: map-get($theme, background-colour-dark);
    .dashboardTable {
        thead {
            color: $text-colour-secondary;
        }
        tbody {
            tr {
                border-bottom: solid 1px $divider-colour;
                &.dashboardTr:hover {
                    background-color: $background-colour-dark;
                }
            }
        }
    }
}