@mixin tableView-theme($theme) {
  $divider-colour: map-get($theme, divider-colour);
  $text-colour-secondary: map-get($theme, text-colour-secondary);
  $background-colour-dark: map-get($theme, background-colour-dark);
  .dashboardTable {
    border-collapse: collapse;
    width: 100%;
    thead {
      color: $text-colour-secondary;
      tr {
        th {
          text-align: left;
          max-width: 240px;
          padding: 8px;
        }
      }
    }
    tbody {
      tr {
        border-bottom: solid 1px $divider-colour;
        &:hover {
          background-color: $background-colour-dark;
          cursor: pointer;
        }
        td {
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 8px;
          white-space: nowrap;
        }
      }
    }
  }
}
