.tableView-searchbar-container {
  margin: 32px auto;
  width: 80%;
  form {
    max-height: 21px;
  }
  .tableView-searchbar-searchIcon {
    display: inline-block;
    height: 17px;
    width: 5%;
  }
  .tableView-searchbar-searchInput {
    width: 50%;
  }
  .tableView-searchbar-limitIcon {
    display: inline-block;
    height: 17px;
    width: 5%;
  }
  .tableView-searchbar-limitInput {
    width: 30%;
  }
}

.dashboardTable {
  border-collapse: collapse;
  width: 100%;
  th.dashboardTable-checkbox-td,
  td.dashboardTable-checkbox-td {
    cursor: default;
    width: 19px;
  }
  tr {
    width: 100%;
    max-height: 35px;
  }
  thead {
    width: 100%;
    th {
      text-align: left;
      max-width: 240px;
      padding: 8px;
    }
  }
  tbody {
    width: 100%;
    tr {
      border-bottom: solid 1px;
    }
    & tr:hover {
      cursor: pointer;
    }
    td {
      padding: 8px;
      white-space: nowrap;
      cursor: pointer;
      .filterBold {
        font-weight: bold;
      }
    }
    td:not(.contextMenu-td) {
      max-width: 100px;
      text-overflow: ellipsis;
      overflow-x: hidden;
    }
  }
}