.tableView-searchbar-container {
  margin: 32px auto;
  width: 80%;
  form {
    max-height: 21px;
  }
  .tableView-searchbar-searchIcon {
    display: inline-block;
    height: 17px;
    width: 5%;
  }
  .tableView-searchbar-searchInput {
    width: 50%;
  }
  .tableView-searchbar-limitIcon {
    display: inline-block;
    height: 17px;
    width: 5%;
  }
  .tableView-searchbar-limitInput {
    width: 30%;
  }
}

.dashboardTable-container {
  max-height: 800px;
  overflow-y: auto;
  .dashboardTable {
    border-collapse: collapse;
    width: 100%;
    thead {
      width: 100%;
      tr {
        width: 100%;
        max-height: 35px;
        th {
          text-align: left;
          max-width: 240px;
          padding: 8px;
        }
      }
    }
    tbody {
      overflow-y: auto;
      width: 100%;
      tr {
        width: 100%;
        max-height: 35px;
        &.dashboardTr:hover {
          cursor: pointer;
        }
        td {
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 8px;
          white-space: nowrap;
        }
      }
    }
  }
}