@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';
$doc-viwer-padding: 16px;
.dashboard-container {
  position: fixed;
  padding: $doc-viwer-padding;
  height: calc(#{$document-view-height} - (#{$doc-viwer-padding}*2));
  width: calc(#{$document-view-width} - (#{$doc-viwer-padding}*2));
  top: $topbar-height;
  overflow: auto;
  transition: padding-left 400ms $mat-anim-curve, width 400ms $mat-anim-curve;
  @include breakpoint-xs-media {
    min-width: 120px;
  }
  @include breakpoint-s-media {
    min-width: 340px;
  }
  @include breakpoint-m-media {
    min-width: 500px;
  }
  @include breakpoint-l-media {
    min-width: 740px;
  }
  @include breakpoint-xl-media {
    min-width: 960px;
  }
}

.sidebar-open {
  padding-left: calc((#{$sidebar-width}) + (#{$doc-viwer-padding}));
  width: calc((#{$document-view-width} - #{$sidebar-width}) - (#{$doc-viwer-padding}*2));
}