@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';
$doc-viwer-padding: 32px;
.dashboard-container {
  position: fixed;
  padding: 16px $doc-viwer-padding;
  height: calc(#{$document-view-height} - (#{$doc-viwer-padding}*2));
  width: calc(#{$document-view-width} - (#{$doc-viwer-padding}*2));
  top: $topbar-height;
  overflow: auto;
  transition: padding-left 400ms $mat-anim-curve, width 400ms $mat-anim-curve;
  @include breakpoint-xs-media {
    min-width: 120px;
  }
  @include breakpoint-s-media {
    min-width: 340px;
  }
  @include breakpoint-m-media {
    min-width: 500px;
  }
  @include breakpoint-l-media {
    min-width: 740px;
  }
  @include breakpoint-xl-media {
    min-width: 960px;
  }
}

.sidebar-open {
  padding-left: calc((#{$sidebar-width}) + (#{$doc-viwer-padding}));
  width: calc((#{$document-view-width} - #{$sidebar-width}) - (#{$doc-viwer-padding}*2));
}

.dashboardTable {
  border-collapse: collapse;
  width: 100%;
  th.dashboardTable-checkbox-td,
  td.dashboardTable-checkbox-td {
    width: 19px;
  }
  tr {
    width: 100%;
    max-height: 35px;
  }
  thead {
    width: 100%;
    th {
      text-align: left;
      max-width: 240px;
      padding: 8px;
    }
  }
  tbody {
    width: 100%;
    .dashboardTable-no-interact-tr {
      & td {
        font-weight: bold;
      }
    }
    tr {
      border-bottom: solid 1px;
    }
    & tr:not(.dashboardTable-no-interact-tr):hover {
      cursor: pointer;
    }
    td {
      padding: 8px;
      white-space: nowrap;
    }
    td {
      &.dashboardTable-connector-td {
        div {
          pointer-events: none;
        }
      }
      & div:not(.json-view-container) {
        word-wrap: break-word;
        white-space: pre-line;
        padding: 2px;
        b {
          pointer-events: none;
        }
      }
    }
  }
}