@import 'src/styles/mixins.scss';
@import 'src/styles/variables.scss';
$doc-viwer-padding: 16px;
.document-viewer {
  position: fixed;
  padding: $doc-viwer-padding;
  height: calc(#{$document-view-height} - (#{$doc-viwer-padding}*2));
  width: calc(#{$document-view-width} - (#{$doc-viwer-padding}*2));
  top: $topbar-height;
  left: $sidebar-width;
  overflow-y: auto;
}