@import 'src/assets/styles/mixins.scss';
@import 'src/assets/styles/variables.scss';
@mixin sidebar-theme ($theme) {
  $background-colour: map-get($theme, background-colour);
  $primary-colour: map-get($theme, primary-colour);
  $accent-colour: map-get($theme, accent-colour);
  $primary-text-colour: map-get($theme, primary-text-colour);
  $divider-colour: map-get($theme, divider-colour);
  $primary-colour-dark: map-get($theme, primary-colour-dark);
  .sidebar {
    background-color: $background-colour;
    color: $primary-text-colour;
    border-right: 1px solid $divider-colour;
    nav {
      a {
        &:hover {
          color: mat-color($accent-colour);
        }
      }
      .active {
        background-color: $primary-colour-dark;
        color: $primary-text-colour;
        font-weight: bold;
      }
    }
  }
  .sidebar-header {
    border-bottom: 1px solid $divider-colour;
  }
  .sidebar-footer {
    border-top: 1px solid $divider-colour;
  }
  .app-switch {
    & input {
      &:checked+.app-switch-slider {
        .switch-thumb {
          background-color: mat-color($accent-colour);
        }
      }
    }
    .app-switch-slider {
      background-color: mat-color($primary-colour);
      .switch-thumb {
        background-color: mat-color($accent-colour);
      }
    }
  }
}

.sidebar {
  transition: $theme-change-transistion;
  min-width: $sidebar-width;
  max-width: $sidebar-width;
  height: calc(100% - $topbar-height);
  top: $topbar-height;
  left: 0;
  position: fixed;
  z-index: 4;
  nav {
    height: 80%;
    margin: 8px 16px;
    display: flex;
    flex-flow: column wrap;
    text-transform: uppercase;
    align-items: flex-start;
    position: relative;
    a {
      margin: 2px 0;
      text-align: left;
    }
  }
  .sidebar-header {
    height: 10%;
    position: relative;
    button {
      padding: 20px 0;
      width: 100%;
      md-icon {
        font-size: 40px;
      }
    }
  }
}

.active {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, .12) inset;
  transform: translate3d(0, 0, 0);
  transition: background-color .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.sidebar-footer {
  height: 10%;
  position: relative;
}

.app-switch {
  position: absolute;
  width: 60px;
  height: 10px;
  right: 5px;
  bottom: 35px;
  md-icon {
    font-size: 18px;
  }
  md-icon:first-of-type {
    left: -20px;
    position: absolute;
    top: -3px;
  }
  md-icon:last-of-type {
    right: -2px;
    position: absolute;
    top: -3px;
  }
  input {
    position: fixed;
    left: -99999px;
    &:checked+.app-switch-slider {
      .switch-thumb {
        left: 15px;
        box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
      }
    }
  }
  .app-switch-slider {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 35px;
    height: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 200ms $mat-anim-curve;
    .switch-thumb {
      position: absolute;
      content: "";
      top: -5px;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      transition: left 200ms $mat-anim-curve, background-color 200ms $mat-anim-curve, box-shadow 200ms $mat-anim-curve;
      box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.3);
    }
  }
}
