// Import components

// Function to pass colour to each theme
@function theme-setter($primary-colour-dark, $primary-colour, $primary-colour-light, $primary-colour-text, $accent-colour, $primary-text-colour, $secondary-text-colour, $divider-colour, $background-colour) {
    @return (
        primary-colour-dark:   $primary-colour-dark,
        primary-colour:        $primary-colour,
        primary-colour-light:  $primary-colour-light,
        primary-colour-text:   $primary-colour-text,
        accent-colour:         $accent-colour,
        primary-text-colour:   $primary-text-colour,
        secondary-text-colour: $secondary-text-colour,
        divider-colour:        $divider-colour,
        background-colour:     $background-colour
    );
}

$light-theme: theme-setter( #00796B, #009688, #B2DFDB, #FFFFFF, #FFC107, #212121, #757575, #BDBDBD, #fafafa);

// Pass theme to each imported component
@mixin theme-applier($theme) {
    
}

// Create class for theme that passes theme variable from import to applier
.light-theme {
    @include theme-applier($light-theme);
}